/* la larghezza omogenea della pagina */
* {

}

/*il colore giallo dei titoli h2*/

h2 {
    color: rgb(207, 161, 8);
}

/*il font dei titoli h3 */

h3 {
    font-style: italic;
}

/*il rettangolo di sfondo grigio*/

header {
    background-color: lightgray;
}

/*l'immagine, h1, footer sono centrati*/
footer, h1 {
    text-align: center;    
}

/*stile immagine profilo*/

img {
    width: 150px;
    ;
}