.orange {
    background-color: orange;
    height: 100vh;
    width: 100%;
    position: relative;
}

.zucca {
    position: absolute;
    height: 200px;
    
    
}

#zucca-1 {
    bottom: 0;
    left: 0;
}

#zucca-2 {
    right: 0;
}

.castello {
    position: absolute;
    height: 70%;
    right: 0;
    bottom: 0;
    opacity: 0.5;

}

.titolo {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    margin-top: 10px;
    font-size: 50px;
    
    
    
}